@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
.btn.xxsmall {
  padding: 0 1.2rem;
  height: 2.8rem;
  font-size: 1.2rem;
  border: 1px solid;
  box-sizing: border-box;
}

.btn.xsmall {
  padding: 0 1.2rem;
  height: 3.2rem;
  font-size: 1.4rem;
  border: 1px solid;
  box-sizing: border-box;
}

.btn.small {
  padding: 0 1.2rem;
  height: 3.4rem;
  font-size: 1.4rem;
  border: 1px solid;
  box-sizing: border-box;
}

.btn.regular {
  padding: 0 2rem;
  height: 4rem;
  font-size: 1.6rem;
  border: 1px solid;
  box-sizing: border-box;
}

.btn.large {
  padding: 0 2.1rem;
  height: 4.8rem;
  font-size: 1.4rem;
  border: 1px solid;
  box-sizing: border-box;
}

.btn.xlarge {
  padding: 0 2rem;
  height: 6rem;
  font-size: 1.6rem;
  border: 1px solid;
  box-sizing: border-box;
}

.btn.ico1::after {
  content: "";
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  background: url(../images/bg_select.svg) no-repeat 0 0;
  background-size: cover;
}

.btn.ico2::before {
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background: url(../images/bg_select.svg) no-repeat 0 0;
  background-size: cover;
}

.btn.ico3::after {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 0.8rem;
  background: url(../images/icon_book_white.svg) no-repeat 0 0;
  background-size: cover;
}

.btn.ico4::after {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 0.8rem;
  background: url(../images/icon_book_black.svg) no-repeat 0 0;
  background-size: cover;
}

.btn.ico5::after {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 0.8rem;
  background: url(../images/icon_list.svg) no-repeat 0 0;
  background-size: cover;
}

.badge.small {
  padding: 0 0.6rem;
  height: 2rem;
  font-size: 1rem;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 0.8rem;
}

.badge.regular {
  padding: 0 0.6rem;
  height: 2.2rem;
  font-size: 1rem;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 0.8rem;
}

.btn.ra4,
.badge.ra4 {
  border-radius: 0.4rem;
}

.btn.ra8,
.badge.ra8 {
  border-radius: 0.8rem;
}

.btn.ra16,
.badge.ra16 {
  border-radius: 1.6rem;
}

.btn.ra40,
.badge.ra40 {
  border-radius: 4rem;
}

/* Reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
nav,
section,
article,
header,
footer,
main,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

body,
input,
select,
textarea,
button,
img,
fieldset {
  border: none;
}

ul,
ol,
li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

address,
cite,
code,
em,
i {
  font-style: normal;
  font-weight: normal;
}

label,
img,
input,
select,
textarea,
button,
a {
  vertical-align: middle;
}

u,
ins,
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

caption > div,
legend,
.hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Normalize */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

* {
  font-family: "Noto Sans KR", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
}

@media print {
  .header,
.footer {
    display: none;
  }
  body {
    padding: 10mm 0;
  }
}
@page {
  margin: 0 10mm;
}
.align {
  display: flex;
}
.align.left {
  justify-content: flex-start;
}
.align.right {
  justify-content: flex-end;
}
.align.center {
  justify-content: center;
}
.align.both {
  justify-content: space-between;
}
.align.bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.txt-center {
  text-align: center;
}

.m0auto {
  width: 1280px;
  margin: 0 auto;
}

.mt0 {
  margin-top: 0rem;
}

.mb0 {
  margin-bottom: 0rem;
}

.ml0 {
  margin-left: 0rem;
}

.mr0 {
  margin-right: 0rem;
}

.btn {
  display: inline-flex;
  align-items: center;
}
.btn-more {
  background: url(../images/icon_more.svg) no-repeat right;
  padding-right: 24px;
  font-size: 1.2rem;
  color: #4b4b4b;
}

.badge {
  display: inline-flex;
  align-items: center;
}

select,
textarea,
input:not([type=radio], [type=checkbox]) {
  width: 100%;
  padding: 0 1.2rem;
  height: 4rem;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  border-radius: 0.4rem;
  color: #4b4b4b;
  font-size: 1.4rem;
}
select::-moz-placeholder, textarea::-moz-placeholder, input:not([type=radio], [type=checkbox])::-moz-placeholder {
  color: #4b4b4b;
}
select:-ms-input-placeholder, textarea:-ms-input-placeholder, input:not([type=radio], [type=checkbox]):-ms-input-placeholder {
  color: #4b4b4b;
}
select::placeholder,
textarea::placeholder,
input:not([type=radio], [type=checkbox])::placeholder {
  color: #4b4b4b;
}
select:disabled,
textarea:disabled,
input:disabled:not([type=radio], [type=checkbox]) {
  border-color: #fafafa;
  background-color: #fff;
  color: #c9c9c9;
}
select:-moz-read-only, textarea:-moz-read-only, input:-moz-read-only:not([type=radio], [type=checkbox]) {
  border-color: #000;
  background-color: #000;
  color: #000;
}
select:read-only,
textarea:read-only,
input:read-only:not([type=radio], [type=checkbox]) {
  border-color: #000;
  background-color: #000;
  color: #000;
}

input[type=radio], input[type=checkbox] {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
input[type=radio] + label, input[type=checkbox] + label {
  display: inline-flex;
  padding-left: 3rem;
  line-height: 2.4rem;
  font-size: 1.2rem;
  color: #4b4b4b;
}

select {
  background: url(../images/bg_select.svg) no-repeat right 2rem center;
  padding-right: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
select:disabled {
  background: url(../images/bg_select_disabled.svg) no-repeat right 2rem;
}
select::-ms-expand {
  display: none;
}

input[type=checkbox] + label {
  background: url(../images/bg_check_off.svg) no-repeat left center;
}
input[type=checkbox]:checked + label {
  background: url(../images/bg_check_on.svg) no-repeat left center;
}
input[type=radio] + label {
  background: url(../images/bg_radio_off.svg) no-repeat left center;
}
input[type=radio]:checked + label {
  background: url(../images/bg_radio_off.svg) no-repeat left center;
}

.h2 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1;
}
.h2::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #1d4ed8;
  border-radius: 0.2rem;
}

.heading-line {
  border-bottom: 1px solid #999;
  padding-bottom: 1.6rem;
}

select {
  background: url(../images/bg_select.svg) no-repeat right 1rem center;
  padding-right: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
select:disabled {
  background: url(../images/bg_select_disabled.svg) no-repeat right 1rem;
}
select::-ms-expand {
  display: none;
}

.position-test {
  background: url(../images/bg_select.svg) no-repeat right 0px top 0px red;
  background-size: 20px auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

ul {
  display: flex;
}
ul > li {
  display: flex;
  align-items: center;
}
ul > li + li::before {
  content: "";
  margin: 0 1rem;
  width: 0.5rem;
  height: 1rem;
  background: url(../images/bg_select.svg) no-repeat;
}

body::-webkit-scrollbar {
  width: 1rem;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  width: 1rem;
  background-color: red;
  border-radius: 1rem;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}

.test {
  width: 100px;
  overflow-x: auto;
  height: 200px;
}
.test::-webkit-scrollbar {
  height: 1rem;
  background-color: transparent;
}
.test::-webkit-scrollbar-thumb {
  width: 1rem;
  background-color: red;
  border-radius: 1rem;
}
.test::-webkit-scrollbar-track {
  background-color: transparent;
}

.test2::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
}
.test2::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
}
@media (min-width: 0) and (max-width: 1023px) {
  .test2 {
    border: 2px solid blue;
  }
}

.guide-body {
  scroll-behavior: smooth;
}
.guide-body body {
  padding: 20px;
}
.guide-tab ul {
  display: flex;
  flex-grow: wrap;
}
.guide-tab a {
  display: block;
  line-height: 30px;
}
.guide-title {
  font-size: 40px;
  padding: 50px 0 30px;
  border-top: 3px solid rgba(0, 0, 0, 0.3);
}
.guide-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */